.about-section {

    @media (max-width: 1100px) {
        background: url('../img/about/background.jpg') no-repeat center center fixed;
        background-size: cover;
    }

    @media @desktop-wide-fixed {
        padding: 112px;
    }

    @media @desktop-fixed {
        padding: 100px 0;
    }

    @media @tablet-fixed {
        padding: 100px 0;
    }

    @media @smartphone-fixed {
        padding: 80px 0;
        background-attachment: scroll;
    }

    &--old {
        background-color: #000;

        @media @smartphone-fixed {
            background-image: none;
        }
    }

    h1 {
        margin-bottom: 20px;

        @media @desktop-and-bigger-fixed {
            margin-bottom: 34px;
        }
    }


    a {

        font-weight: 500;
        text-decoration: none;

        @media @desktop-wide {
            font-size: 18px;
            line-height: 28px;
        }

        @media @desktop {
            font-size: 18px;
            line-height: 28px;
        }

        @media @tablet {
            font-size: 18px;
            line-height: 28px;
        }

        @media @smartphone {
            font-size: 14px;
            line-height: 20px;
        }

        &:hover {
            border-bottom: solid 1px black;
        }
    }

    p {
        color: @white;
        font-family: Poppins;

        @media @smartphone-fixed {
            font-size: 14px;
            line-height: 20px;
        }

        @media @tablet-and-bigger-fixed {
            font-size: 18px;
            line-height: 28px;
        }

    }
}

.parallax-container {

    height: auto !important;

    .parallax {
        @media (max-width: 1100px) {
            display: none;
        }
    }
}