body {
    overflow-x: hidden;
    .body-font;
}

.container {

    @media @tablet-and-smaller {
        @side-padding: 10%;

        padding-left: @side-padding;
        padding-right: @side-padding;
    }
}

.non-scrollable {
    @media (max-width: 768px) {
        position: fixed;
        overflow: hidden;
    }
}

.btn.button {
    @color: @pink;

    background-color: @color;
    border: none;
    border-radius: 0;
    font: 18px Poppins;
    font-weight: 500;
    line-height: 70px;
    padding: 0 35px;
    text-transform: none;

    @media @tablet-and-smaller {
        font-size: 14px;
        line-height: 50px;
        padding: 0 25px;
    }

    &:hover,
    &:focus {
        background-color: @dark-pink;
    }
}

p {
    font-size: 14px;
    line-height: 1.75;
}

p.large {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    color: @black;
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    .heading-font;
    font-weight: 700;
}

.img-centered {
    margin: 0 auto;
}

.bg-darkest-gray {
    background-color: @gray-darker;
}

.btn-primary {
    .button-variant(white; @theme-primary; @theme-primary);
    .heading-font;
    font-weight: 700;
}

.btn-xl {
    .button-variant(white; @theme-primary; @theme-primary);
    .heading-font;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: none;
}

section {

    h1 {
        display: inline-block;
        font-family: Poppins;
        font-weight: 800;

        background-size: auto 30%;

        &:after {
            content: "";
            display: inline-block;
            // background: url('../img/svg/logo_black.svg') no-repeat right center;
            margin: 0;
        }

        &.rotate-45:after {
            transform: rotate(45deg);

            @media @desktop-wide-fixed {
                margin-left: -13px;
            }

            @media @desktop-fixed {
                margin-left: -8px;
            }

            @media @tablet-fixed {
                margin-left: -9px;
            }

            @media @smartphone-fixed {
                margin-left: 9px;
            }
        }

        &.rotate-135:after {
            transform: rotate(135deg);

            @media @desktop-wide-fixed {
                margin-left: 26px;
            }

            @media @desktop-fixed {
                margin-left: 26px;
            }

            @media @tablet-fixed {
                margin-left: 15px;
            }

            @media @smartphone-fixed {
                margin-left: 20px;
            }
        }

        &.rotate-225:after {
            transform: rotate(225deg);
            background-position: 10% center !important;

            @media @desktop-wide-fixed {
                margin-left: -7px;
            }

            @media @desktop-fixed {
                margin-left: -5px;
            }

            @media @tablet-fixed {
                margin-left: -5px;
            }

            @media @smartphone-fixed {
                margin-left: 8px;
            }
        }

        &.rotate-315:after {
            transform: rotate(315deg);
            background-position: 10% center !important;

            @media @desktop-wide-fixed {
                margin-left: 22px;
            }

            @media @desktop-fixed {
                margin-left: 22px;
            }

            @media @tablet-fixed {
                margin-left: 16px;
            }

            @media @smartphone-fixed {
                margin-left: 18px;
            }
        }

        @media @desktop-wide-fixed {
            @height: 80px;

            height: @height;
            font-size: 64px;
            line-height: @height;

            &:after {
                width: @height;
                height: @height;
                background-size: auto 30%;
                margin-left: @height / 2;
            }
        }

        @media @desktop-fixed {
            @height: 68px;

            height: @height;
            font-size: 48px;
            line-height: @height;

            &:after {
                width: @height;
                height: @height;
                background-size: auto 28%;
                margin-left: @height / 2;
            }
        }

        @media @tablet-fixed {
            @height: 54px;

            height: @height;
            font-size: 38px;
            line-height: @height;

            &:after {
                width: @height;
                height: @height;
                background-size: auto 30%;
                margin-left: @height / 2;
            }
        }

        @media @smartphone-fixed {
            @height: 33px;

            height: @height;
            font-size: 28px;
            line-height: @height;

            &:after {
                width: @height;
                height: @height;
                background-size: auto 45%;
                margin-left: @height / 2;
            }
        }

        margin-top: 0;
        margin-bottom: 15px;
        text-transform: none;

        &.light-headline {
            color: @white;

            &:after {
                // background-image: url('../img/svg/logo_white.svg');
            }
        }
    }
}

@media (min-width: 660px) {
    .col-sm-6-fixed {
        width: 50%;
    }
}

@media (min-width: @tablet-fixed-breakpoint) {
    .col-md-8-fixed {
        width: 75%;
    }
}

.navbar-toggle {
    padding: 0;
}

.section-categories {
	list-style-type: none;
	padding: 0;

	@media @desktop-wide {
		margin-bottom: 10px;
	}

	@media @desktop {
		margin-bottom: 30px;
	}

	@media @tablet {
		margin-bottom: 40px;
	}

	@media @smartphone {
		margin-bottom: 20px;
	}

	li {
		display: inline-block;

		@media @desktop-wide {
			margin-right: 15px;
		}

		@media @desktop {
			margin-right: 14px;
		}

		@media @tablet {
			margin-right: 14px;
		}

		@media @smartphone {
			margin-right: 10px;
		}

		&:last-child {
			margin-right: 0;
		}

		a {

			font-weight: 500;
            text-decoration: none;

			@media @desktop-wide {
				font-size: 18px;
				line-height: 28px;
			}

			@media @desktop {
				font-size: 18px;
				line-height: 28px;
			}

			@media @tablet {
				font-size: 18px;
				line-height: 28px;
			}

			@media @smartphone {
				font-size: 14px;
				line-height: 20px;
			}

            &:hover {
                border-bottom: solid 1px black;
            }
		}

		&.active a {
			color: @pink;
			border-bottom: solid 1px @pink;
		}
	}
}

.display-when-less-400px {
    display: none;

    @media (max-width: 400px) {
        display: block;
    }
}

.display-when-more-400px {
    display: none;

    @media (min-width: 400px) {
        display: block;
    }
}