.reference-section {
    display: block;
    font-family: Poppins;

    @media @desktop-wide {
        font-size: 18px;
        margin-top: 100px;

        p {
            font-size: 18px;
        }
    }

    @media @desktop {
        font-size: 18px;
        margin-top: 80px;

        p {
            font-size: 18px;
        }
    }

    @media @tablet {
        font-size: 18px;
        margin-top: 60px;

        p {
            font-size: 18px;
        }
    }

    @media @smartphone {
        font-size: 14px;
        margin-top: 40px;

        p {
            font-size: 14px;
        }
    }

    h1 {
        margin-bottom: 30px;
    }

    .reference-items {
        list-style-type: none;
        padding: 0;

        @media @desktop-wide {
            text-align: right;
        }

        @media @desktop {
            text-align: right;
        }

        @media @tablet {
            text-align: left;
        }

        @media @smartphone {
            text-align: left;
        }

        @media (max-width: 1200px) {
            text-align: left !important;
        }

        li {
            display: inline-block;
            text-align: center;

            @media @desktop-wide {
                margin-left: 40px;
            }

            @media @desktop {
                margin-left: 40px;
            }

            @media @tablet {
                margin-top: 15px;
                margin-right: 30px !important;
            }

            @media @smartphone {
                margin-top: 15px;
                margin-right: 30px !important;
            }

            @media (max-width: 1200px) {
                margin-left: 0 !important;
                margin-right: 40px;
            }

            .reference-item-count {
                color: @pink;
                font-weight: 600;

                @media @desktop-wide {
                    font-size: 38px;
                }

                @media @desktop {
                    font-size: 38px;
                }

                @media @tablet {
                    font-size: 32px;
                }

                @media @smartphone {
                    font-size: 28px;
                }
            }
        }
    }

    .reference-icons {
        list-style-type: none;
        padding: 0;

        @media @desktop-wide {
            margin-top: 100px;
        }

        @media @desktop {
            margin-top: 80px;
        }

        @media @tablet {
            margin-top: 60px;
        }

        @media @smartphone {
            margin-top: 40px;
        }

        li {
            display: inline-block;
            margin-bottom: 25px;
            text-align: center;
            width: 16%;

            @media @smartphone {
                width: 24.1%;
            }

            .icon {

                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                border: solid 1px #ddd;
                display: inline-block;

                filter: grayscale(100%);

                &:hover {
                    filter: none;
                }

                @media @desktop-wide {
                    width: 165px;
                    height: 155px;
                }

                @media @desktop {
                    width: 131px;
                    height: 123px;
                }

                @media @tablet {
                    width: 80px;
                    height: 75px;
                }

                @media @smartphone {
                    width: 57px;
                    height: 53px;
                }
            }
        }
    }
}